body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    background: #71a6c1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>* {
    margin: 0 1em;
}

header h1 {
    text-align: center;
    color: white;
    text-shadow: 0 0 0.125em rgba(0, 0, 0, 0.5);
}

header img {
    border: 3px solid black;
    border-radius: 1em;
    margin-bottom: 0.5em;
}

nav ul, nav li {
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
}

nav a {
    margin: 1em;
    padding: 1em;
    border: 3px solid black;
    background: lightgrey;
    width: 20em;
    color: black;
    text-decoration: none;
    border-radius: 1em;
    display: block;
    text-align: center;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 600px) {
    nav a {
        max-width: 80vw;
    }
}

nav a:visited {
    color: black;
}

nav a:hover {
    transition: background 0.5s linear;
    background: #c1718c;
}

footer {
    margin-top: 0.5em;
    text-align: center;
    font-size: 75%;
    color: lightgrey;
    max-width: 50em;
}

article {
    background: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: 1px solid black;
}

article h1 {
    color: black;
    text-shadow: none;
}
