html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14pt;
    line-height: 1.6em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #b8b8b8;
    max-width: 100vw;
    background: #30383a;
    align-items: center;
    margin: 0;
}

body>* {
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    margin: 0;
    text-align: center;
    background: #1a1a1a;
    padding: 0.7em 0;
    border-bottom: 2px solid #9a4e22;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 2em;
    border-radius: 2em;
    border: 2px solid #444;
    transition: transform 0.2s ease;
}

header img:hover {
    transform: scale(1.05);
}

a {
    color: #6fbf92;
    text-decoration: none;
}

a:hover {
    color: #8cd0a3;
    text-decoration: underline;
}

a:focus {
    outline: 2px solid #6fbf92;
    outline-offset: 2px;
    border-radius: 2px;
}

nav .selected {
    color: #a0d8e9;
}

nav {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul>li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    transition: background-color 0.2s ease;
}

nav ul>li {
    display: inline-block;
}

nav ul>li:hover {
    background-color: #2a2a2a;
}

main dl {
    width: 90%;
    margin: 0;
    padding: 0.5em;
} 

main dt {
    padding: 0.2em 0.5em;
    background: #222222;
}

main dt:not(:first-child) {
    margin-top: 1em;
}

main dd {
    font-size: 90%;
    background: #222222;
    margin: 0;
    padding: 0 0 0.5em 2em;
}

main dd:last-child {
    margin-bottom: 0;
}

footer {
    text-align: center;
    padding: 0;
    background: #1a1a1a;
    width: 100vw;
    border-top: 2px solid #9a4e22;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer>p,footer>nav {
    margin: 0;
    padding: 0;
}

footer>p {
    font-size: 80%;
}

main {
    background: #30383a;
    max-width: 60em;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
}

nav.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40em;
}

nav.blog del {
    text-decoration: none;
    color: #444444;
    cursor: default;
}

main>* {
    max-width: 40em;
}

main img {
    margin: 0 auto;
    display: block;
    border: 2px solid #444;
    border-radius: 4px;
    max-width: 100%;
}

pre, code {
    background: #282828;
    padding: 0.1em 0.3em;
}

pre>code {
    padding: 0;
}

pre {
    width: 100%;
    white-space: pre-wrap;
    border-radius: 0.25em;
    border-radius: 3px;
    border: 1px solid #333;
}

blockquote {
    padding: 0 1em;
    border-left: 2px solid #444;
    color: #bbb;
}

blockquote>p {
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    color: #d8d8d8;
    line-height: 1.25em;
    margin: 1em 0 0.5em 0;
}

h1 {
    margin-top: 0.5em;
}

h1+h2, h2+h3, h3+h4, h4+h5, h5+h6 {
    margin-top: 0;
}

p {
    margin: 0.8em 0;
}

audio {
    display: inline-block;
    vertical-align: middle;
}
