<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>%title%</title>
        <link rel="stylesheet" href="%root_path%style.css" />
    </head>

    <body>
        <header>
            <nav>
                <p>
                <a href="%root_path%index.html">Home</a>
                <a href="%root_path%projects.html">Projects</a>
                <a href="%root_path%diary/index.html">Blog</a>
                </p>
            </nav>
        </header>

        <main>
            %content%
        </main>

        <footer>
            <p>
            All content © 2011-2024 Steve Engledow.
            <br />
            All views expressed here are mine and don't reflect those of Amazon.
            <br />
            The <a href="https://github.com/stilvoid/stilvoid.github.io">contents of this web site</a> are available under the terms of the <a href="https://github.com/stilvoid/stilvoid.github.io/blob/master/LICENSE">MIT licence</a>.
            </p>
        </footer>
    </body>
</html>
