<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Site.Title}}: {{.Title}}</title>
        <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css'>
        <link rel="stylesheet" href="/style.css">
        <link rel="me" href="https://retro.pizza/@stilvoid">
        <meta name="fediverse:creator" content="@stilvoid@retro.pizza">
        <meta name="description" content="Steve Engledow - Engineering Manager at AWS, open source developer, and creator of developer tools">
    </head>

    <body>
        <header>
            <img src="/me.jpg" alt="Steve Engledow">

            <nav>
                <ul>{{range .Tree}}
                    <li><a href="{{.Page.Uri}}"
                    {{- if .Selected}} class="selected"{{end -}}
                    >{{.Page.Title}}</a></li>{{end}}
                </ul>
            </nav>
        </header>
{{define "blogNav"}}
    {{- if .Blog}}<nav>
        {{- if .Blog.Prev}}<a href="{{.Blog.Prev.Uri}}">Previous</a>{{else}}<del>Previous</del>{{end -}}
        {{- if .Blog.Next}}<a href="{{.Blog.Next.Uri}}">Next</a>{{else}}<del>Next</del>{{end -}}
    </nav>{{end -}}
{{end}}
        <main>
            {{template "blogNav" .}}

            <h1>{{.Title}}</h1>

            {{.Body}}
            {{template "blogNav" .}}
        </main>

        <footer>
            <nav>
                <ul>
                    <li><a href="https://retro.pizza/@stilvoid">Mastodon</a></li>
                    <li><a href="https://github.com/stilvoid/">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/in/stilvoid/">LinkedIn</a></li>
                </ul>
            </nav>

            <p><a href="https://creativecommons.org/publicdomain/zero/1.0/legalcode">CC0 1.0 Universal</a></p>
        </footer>
    </body>
</html>
