<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.SiteTitle}}: {{.PageTitle}}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="me" href="https://retro.pizza/@stilvoid">
        <meta name="fediverse:creator" content="@stilvoid@retro.pizza">
    </head>

    <body>
        <nav>{{range .Nav}}
            <ul>{{range .}}
                <li><a href="{{.Uri}}"{{.Attrs}}>{{.Title}}</a>{{.Extra}}</li>{{end}}
            </ul>{{end}}
        </nav>

        <main>
            {{.Body}}

            <footer>&copy; 2024, Steve Engledow</footer>
        </main>
    </body>
</html>
