<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{.Site.Title}}: {{.Title}}</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="me" href="https://retro.pizza/@stilvoid">
        <meta name="fediverse:creator" content="@stilvoid@retro.pizza">
    </head>

    <body>
        <nav>{{block "iter" .Tree}}
            <ul>{{range .}}
                <li><a href="{{.Page.Uri}}"
                {{- if .Selected}} class="selected"{{end -}}
                >{{.Page.Title}}</a>
                {{- if .Page.IsBlog}}<br><span class="date">({{.Page.Date}})</span>{{end -}}
                </li>{{end}}
            </ul>
            {{- range . -}}
                {{if and .Selected .Children}}
                    {{template "iter" .Children}}
                {{- end}}
            {{- end -}}
        {{- end}}
        </nav>

        <main>
            <h1>{{.Title}}</h1>

            {{.Body}}

            <footer>&copy; 2025, Steve Engledow - <a href="/feed.xml">RSS</a></footer>
        </main>
    </body>
</html>
