html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
    max-width: 100vw;
    align-items: center;
    margin: 0;
}

body > * {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    width: 100vw;
    margin: 0;
    text-align: center;
    padding: 0.7em 0;
    border-bottom: 2px solid #9a4e22;
}

header img {
    border-radius: 2em;
    border: 2px solid #444;
    transition: transform 0.2s ease;
}

header img:hover {
    transform: scale(1.05);
}

/* Links */

a {
    color: #6fbf92;
    text-decoration: none;
}

a:hover {
    color: #8cd0a3;
    text-decoration: underline;
}

a:focus {
    outline: 2px solid #6fbf92;
    outline-offset: 2px;
    border-radius: 2px;
}

/* Navigation */

nav {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

nav .selected {
    color: #a0d8e9;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul > li {
    list-style: none;
    margin: 0.5em 0;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    transition: background-color 0.2s ease;
    display: inline-block;
}

nav ul > li:hover {
    background-color: #2a2a2a;
}

/* Main content layout */

main {
    max-width: 60em;
    display: flex;
    flex-direction: column;
    padding: 0;
}

main > * {
    max-width: 40em;
}

main img {
    margin: 0 auto;
    display: block;
    border: 2px solid #444;
    border-radius: 4px;
    max-width: 100%;
}

/* Definition lists */

main dl {
    width: 90%;
    margin: 0;
    padding: 0.5em;
}

main dt {
    padding: 0.2em 0.5em;
    background: #222222;
}

main dt:not(:first-child) {
    margin-top: 1em;
}

main dd {
    font-size: 90%;
    background: #222222;
    margin: 0;
    padding: 0 0 0.5em 2em;
}

main dd:last-child {
    margin-bottom: 0;
}

/* Footer */

footer {
    text-align: center;
    padding: 0;
    width: 100vw;
    border-top: 2px solid #9a4e22;
}

footer > p,
footer > nav {
    margin: 0;
    padding: 0;
}

footer > p {
    font-size: 80%;
}

/* Code blocks */

pre,
code {
    padding: 0.1em 0.3em;
}

pre {
    width: 100%;
    white-space: pre-wrap;
    border-radius: 3px;
    border: 1px solid #333;
}

/* Blockquotes */

blockquote {
    padding: 0 1em;
    border-left: 2px solid #444;
    color: #bbb;
}

blockquote > p {
    padding: 0;
    margin: 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25em;
    margin: 1em 0 0.5em 0;
}

h1 {
    margin-top: 0.5em;
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
    margin-top: 0;
}

/* Text & media */

p {
    margin: 0.8em 0;
}

audio {
    display: inline-block;
    vertical-align: middle;
}
